/*INGRESA TIPOGRAFIA*/

*{
    margin: 0%;
    padding: 0%;
}

section{
    width: 100%;
    text-align: center;
    padding: 120px 0;
    background: black;
}

h1{
    color: white;
    font-size: 50px;
}

h2{
    color: aquamarine;
    font-size: 34px;
    margin: 20px 0;

}

p{
    color: white;
    font-size: 22px;
}

#count-botones{
    width: 80%;
    margin: 50px auto;
}

button{
    padding: 14px 36px;
    background: transparent;
    border: 2px;
    color: white;
    margin: 18px;
    transition: .4s;
}

button:hover{
    background: aqua;
    color: black;
    border-radius: 30px;
}


